.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 20px;
    max-width: 1400px;
    margin:0 auto;
}

.navbar .logo img {
    height: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 17px;
    color: black;
}
